.site-header {
    max-width: 1200px;
    margin: 0 auto;
    div {
        padding: 2em 4em 1em 4em;
    }
    h1 {
        font-size: 2em;
        a {
            text-decoration: none;
            color: #6598d1;
        }
    }
}